<h2 mat-dialog-title>Change password?</h2>
<mat-dialog-content>
    <form [formGroup]="changePasswordForm">
        <mat-form-field appearance="outline" *ngIf="!data.admin">
            <mat-label>Current password</mat-label>
            <input type="password" matInput formControlName="currentPassword">
            <mat-hint>Enter current password:</mat-hint>
            <mat-error>Current password is required!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>New password</mat-label>
            <input type="password" matInput formControlName="newPassword">
            <mat-hint>Enter new password:</mat-hint>
            <mat-error>New password is required!</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="mat-raised-button mr-2" mat-dialog-close>Close</button>
    <button class="mat-raised-button mat-warn"(click)="changePassword()"  [disabled]="!changePasswordForm.valid">Change</button>
</mat-dialog-actions>