<div class="container">
  <div class="row my-3 py-5 px-2">
    <div class="col-lg-12">
      <h1>Users</h1>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="width: 4%">#</th>
            <th scope="col" style="width: 25%">Username</th>
            <th scope="col" style="width: 27%">Email</th>
            <th scope="col" style="width: 18%">PhoneNumber</th>
            <th scope="col" style="width: 11%">Role</th>
            <th scope="col" style="width: 5%"></th>
            <th scope="col" style="width: 5%"></th>
            <th scope="col" style="width: 5%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td>{{ user.role }}</td>
            <td><button class="btn btn-warning" (click)="changeUserPassword(user.id)"><fa-icon [icon]="faKey"></fa-icon></button></td>
            <td><button class="btn btn-warning" [routerLink]="['/edit-user', user.id]"><fa-icon [icon]="faPen"></fa-icon></button></td>
            <td><button class="btn btn-danger" (click)="delete(user.id)"><fa-icon [icon]="faTrashCan"></fa-icon></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>